<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your skills</title>
</head>
<body>
    <h1>Skills</h1>
    <h3> Time: <%= mostRecentSkills %> </h3>
    <a href='/skills/new'>make new skill</a>
        <ul>
            <% skills.forEach(function(s) { %>
                <li>
                    <a href='/skills/<%= s.id %>'><%= s.skill %></a>
                </li>
            <% }); %>
        </ul>
</body>
</html>
